In [2]:
import pandas as pd
import numpy as np
import random as rd
import scipy.stats as sns

In [26]:
df = pd.read_csv('base-de-dados/heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

<br>


## criando amostra aleatória simples

Do nosso dataset iremos coletar aleatoriamente uma amostra.

In [27]:
hd = df.sample(300, ignore_index=True)
hd

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,35,1,0,126,282,0,0,156,1,0.0,2,0,3,0
1,70,1,0,130,322,0,0,109,0,2.4,1,3,2,0
2,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
3,54,0,2,108,267,0,0,167,0,0.0,2,0,2,1
4,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
296,54,1,1,108,309,0,1,156,0,0.0,2,0,3,1
297,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
298,57,1,0,110,201,0,1,126,1,1.5,1,0,1,1
299,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0

<br>


## criando amostra aleatória estratificada

Agora iremos coletar aleatóriamente e por extratificação uma amostra.

In [75]:
grupos = df.groupby(['sex', 'cp'])

In [76]:
list_percent = []

for gp in grupos:
    list_percent.append(int(round(gp[1].shape[0] / df.shape[0] * 100, 0)))

In [80]:
p = int(input('Quantos porcentos dos dados totais sua amostra deve ter: '))
quant = round(df.shape[0]/100*p, 0)
amostra = []

for pos,gp in enumerate(grupos):
    per = int(round(list_percent[pos] * quant/100, 0))
    amostra.append(gp[1].sample(per))

Quantos porcentos dos dados totais sua amostra deve ter: 45

In [81]:
df_novo = pd.concat(amostra, ignore_index=True)
display(df_novo.head())
display(df_novo.shape)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,42,0,0,102,265,0,0,122,0,0.6,1,0,2,1
1,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
2,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
3,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
4,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0

(467, 14)

<br>


## Tipos de variáveis

**qualitativa_ordinal** = cp, restecg, slope

**qualitativa_nominal** = sexo , fbs, thsl, 

**quantitativa_discreta** = idade , trestbps, chol, thalach, ca

**quantitativa_continua** = oldpeak

 <br>


## Analisando a distribuição de frequências


### frequência por faixa etária

In [82]:
df['age'].value_counts(bins = 6, sort=False)

(28.951, 37.0]     31
(37.0, 45.0]      182
(45.0, 53.0]      210
(53.0, 61.0]      361
(61.0, 69.0]      207
(69.0, 77.0]       34
Name: age, dtype: int64


### frequência por sexo

In [83]:
df['sex'].value_counts()

1    713
0    312
Name: sex, dtype: int64

In [84]:
(df.groupby(by='sex')['target'].value_counts(normalize=True)*100).round(1)

sex  target
0    1         72.4
     0         27.6
1    0         57.9
     1         42.1
Name: target, dtype: float64

In [85]:
df.groupby(by='sex')['target'].value_counts()

sex  target
0    1         226
     0          86
1    0         413
     1         300
Name: target, dtype: int64


### frequência por "quantidade de dores"

In [86]:
(df.groupby(['target', 'sex'])['cp'].value_counts(sort=False, normalize=True)*100).round(1)[0]

sex  cp
0    0     87.2
     1      8.1
     2      4.7
1    0     72.6
     1      6.3
     2     14.8
     3      6.3
Name: cp, dtype: float64