In [100]:
import pandas as pd

path = '/home/audax/My_projects/My-Data-Science-Studies/Programing/Pandas/Data base/Salaries.csv'

salarios_df = pd.read_csv(path)

**Ex1 -** Quais colunas tem nesta base?

In [101]:
print(f'Quantidade de colunas: {salarios_df.shape[1]}')

Quantidade de colunas: 13

**Ex2 -** Qual é a coluna de salario base?

In [102]:
colunas = list(salarios_df.columns)

print(f"A posição é {colunas.index('BasePay')+1}")

A posição é 4

**Ex3 -** Qual é o salário médio?

In [103]:
media = salarios_df['BasePay'].mean()

print(f'O salário médio é ${media:.2f}')

O salário médio é $66325.45

**Ex4 -** Qual é o salário máximo?

In [104]:
salario_max = salarios_df['BasePay'].max()

print(f'O salário máximo é ${salario_max:.2f}')

O salário máximo é $319275.01

**Ex5 -** Qual é o emprego do JOSEPH DRISCOLL?

In [105]:
emprego = salarios_df[ salarios_df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'][24]

print(f'O emprego dele é {emprego}')

O emprego dele é CAPTAIN, FIRE SUPPRESSION

In [106]:
salarios_df['BasePay'].max()

319275.01

**Ex6 -** Qual o nome da pessoa que tem o maior salário de todos?

In [107]:
salario_max = salarios_df['BasePay'].max()
nome = salarios_df[salarios_df['BasePay'] == salario_max]['EmployeeName']
nome = nome[nome.index[0]]

print(f'O nome da pessoa é {nome}')

O nome da pessoa é Gregory P Suhr

**Ex7 -** Qual é o salário médio por ano?

In [108]:
ano_min = salarios_df['Year'].min()
ano_max = salarios_df['Year'].max()

salario_medio_anual = [[], []]

for ano in range(ano_min, ano_max+1):
    media = round(salarios_df[ salarios_df['Year'] == ano ]['BasePay'].mean(), 2)
    salario_medio_anual[0].append(ano)
    salario_medio_anual[1].append(media)
    
df = pd.DataFrame()
df['Ano'] = salario_medio_anual[0]
df['Media_Salarial'] = salario_medio_anual[1]

df

    Ano  Media_Salarial
0  2011        63595.96
1  2012        65436.41
2  2013        69630.03
3  2014        66564.42

**Ex8 -** Quais são os cinco empregos mais comuns (JobTitle)?

In [109]:
empregos = salarios_df['JobTitle'].value_counts().keys()[0:5]
quantidade = salarios_df['JobTitle'].value_counts()[0:5]

df = pd.DataFrame()

df['Empregos_Mai_Comuns'] = empregos
df['Quantidade'] = list(quantidade)

df

            Empregos_Mai_Comuns  Quantidade
0              Transit Operator        7036
1                 Special Nurse        4389
2              Registered Nurse        3736
3  Public Svc Aide-Public Works        2518
4              Police Officer 3        2421

**Ex9 -** Existe correlação entre ano e salário?

**Ex10 -** Como criar um outro dataframe selecionando apenas algumas colunas do dataframe original?