# üî∑ Sobre a aula

Meu intuito com essa aula √© passar o que aprendi no curso da alura sobre estatistica com python. Essa aula servir√° para voc√™ fazer an√°lise descritiva de um dataset.

 <br>

# üî∑ Informa√ß√µes sobre o dataset

## üî∂ Pesquisa Nacional por Amostra de Domic√≠lios - 2015

A <b>Pesquisa Nacional por Amostra de Domic√≠lios - PNAD</b> investiga anualmente, de forma permanente, caracter√≠sticas gerais da popula√ß√£o, de educa√ß√£o, trabalho, rendimento e habita√ß√£o e outras, com periodicidade vari√°vel, de acordo com as necessidades de informa√ß√£o para o pa√≠s, como as caracter√≠sticas sobre migra√ß√£o, fecundidade, nupcialidade, sa√∫de, seguran√ßa alimentar, entre outros temas. O levantamento dessas estat√≠sticas constitui, ao longo dos 49 anos de realiza√ß√£o da pesquisa, um importante instrumento para formula√ß√£o, valida√ß√£o e avalia√ß√£o de pol√≠ticas orientadas para o desenvolvimento socioecon√¥mico e a melhoria das condi√ß√µes de vida no Brasil.

 <br>

## üî∂ Vari√°veis utilizadas


### <font color='red'>Renda</font>

Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.<br>


### <font color='red'>Idade</font>

Idade do morador na data de refer√™ncia em anos.


### <font color='red'>Altura (elabora√ß√£o pr√≥pria)</font>

Altura do morador em metros.


### <font color='red'>UF</font>

|C√≥digo|Descri√ß√£o|
|---|---|
|11|Rond√¥nia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Par√°|
|16|Amap√°|
|17|Tocantins|
|21|Maranh√£o|
|22|Piau√≠|
|23|Cear√°|
|24|Rio Grande do Norte|
|25|Para√≠ba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Esp√≠rito Santo|
|33|Rio de Janeiro|
|35|S√£o Paulo|
|41|Paran√°|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goi√°s|
|53|Distrito Federal|


### <font color='red'>Sexo</font>

|C√≥digo|Descri√ß√£o|
|---|---|
|0|Masculino|
|1|Feminino|


### <font color='red'>Anos de Estudo</font>

|C√≥digo|Descri√ß√£o|
|---|---|
|1|Sem instru√ß√£o e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|N√£o determinados| 
||N√£o aplic√°vel|


### <font color='red'>Cor</font>

|C√≥digo|Descri√ß√£o|
|---|---|
|0|Ind√≠gena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declara√ß√£o|


### <font color='orange'>Observa√ß√£o</font>

> Os seguintes tratamentos foram realizados nos dados originais:
> 1. Foram eliminados os registros onde a <b>Renda</b> era inv√°lida (999 999 999 999);
> 2. Foram eliminados os registros onde a <b>Renda</b> era missing;
> 3. Foram considerados somente os registros das <b>Pessoas de Refer√™ncia</b> de cada domic√≠lio (respons√°vel pelo domic√≠lio).

 
 <br>

# üî∑ Importando as bibliotecas que utilizaremos

In [5]:
import pandas as pd
import numpy as np
import seaborn as sbn
import scipy as scp
import random as rd

<br>

# üî∑ Importando a base de dados

In [4]:
# Vamos importar um arquivo CSV e para isso vamo utilizar o m√©todo read_csv que o pandas oferece

df = pd.read_csv('base-de-dados/dados.csv') # √â necess√°rio passar para ao m√©todo a localiza√ß√£o do arquivo 
df.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

<br>

# üî∑ Tipos de dados

## üî∂ Vari√°veis qualitativas ordinais

S√£o vari√°veis que representam uma qualidade ou atributo de algo e podem ser ordenadas.

In [3]:
# Anos de estudo √© uma vari√°vel qualitativa ordinal
# Vamos selecionar a coluna 'Anos de estudo', pegar os valores unicos e coloca-los em ordem crescente

sorted(df['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

 <br>

## üî∂ Vari√°veis qualitativas nominais

S√£o vari√°veis que representam um atributo ou uma qualidade de algo e n√£o podem ser ordenadas.

In [4]:
# Sexo √© uma vari√°vel qualitativa nominal

df['Sexo'].unique()

array([0, 1])

In [5]:
# UF de estudo √© uma vari√°vel qualitativa nominal

df['UF'].unique()

array([11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31,
       32, 33, 35, 41, 42, 43, 50, 51, 52, 53])

In [6]:
# Cor de estudo √© uma vari√°vel qualitativa nominal

df['Cor'].unique()

array([8, 2, 4, 6, 0])

 <br>

## üî∂ Vari√°veis quantitativas discretas

As vari√°veis quantitativas discretas representam numeros inteiros, dados extraidos a partir da contagem.

In [7]:
# Outra forma de selecionar uma coluna de um dataframe

df.Idade

0        23
1        23
2        35
3        46
4        47
         ..
76835    46
76836    30
76837    32
76838    57
76839    38
Name: Idade, Length: 76840, dtype: int64

In [8]:
# Min e max da coluna Idade

print(f'Idade minima {df.Idade.min()}')
print(f'Idade maxima {df.Idade.max()}')

Idade minima 13
Idade maxima 99


### <font color='orange'>Observa√ß√£o<font>
    
A vari√°vel _**idade**_ pode ser classificada de tr√™s formas distintas:

- **1.Quantitativa discreta**: quando representa n√∫meros completos.
- **2.Quantitativa continua**: quando representa a idade exata, sendo representada por fra√ß√µes de anos.
- **3.Qualitativa ordinal**: quando representa faixas de idade.

 <br>

## üî∂ Vari√°veis quantitativas continuas

Vari√°veis que representam a mensura√ß√£o de algo, valores com casas decimais.

In [9]:
df['Altura']

0        1.603808
1        1.739790
2        1.760444
3        1.783158
4        1.690631
           ...
76835    1.687030
76836    1.792934
76837    1.830587
76838    1.726344
76839    1.658305
Name: Altura, Length: 76840, dtype: float64

In [10]:
# Min e max da coluna Altura

print(f'Altura minima {df["Altura"].min():.1f}')
print(f'Altura maxima {df["Altura"].max():.1f}')

Altura minima 1.3
Altura maxima 2.0

# üî∑ Distribui√ß√£o de frequ√™ncia

O primeiro passo em um trabalho de an√°lise √© descobri o comportamento das vari√°veis envolvidas estudo. Utilizando t√©cnicas estat√≠sticas como as an√°lises das **DISTRIBUI√á√ïES DE FREQU√äNCIAS** e **HISTOGRAMAS**. Devido a isso podemos avaliar melhor a forma como os fen√¥menos em estudo se distribuem.

## üî∂ Distribui√ß√£o de frequ√™ncia para vari√°veis qualitativas

Vamos criar uma fun√ß√£o para podermos visualisar uma tabela bem organizada que mostre a frequ√™ncia absoluta e a frequ√™ncia relativa para cada vari√°vel do nosso dataset.

**FREQU√äNCIA ABSOLUTA**: √â a quantidade de vezes que cada valor de uma vari√°vel se repete.<br>
**FREQUENCIA RELATIVA**: √â a frequ√™ncia absoluta expressa em porcentagem.

In [66]:
def tabela(coluna, indice):
    # coluna: deve ser uma coluna do dataset que corresponda a uma vari√°vel qualitativa
    # indice: deve ser um dicion√°rio especificando com o c√≥digo e o valor que esse c√≥digo representa
    
    # Importando a lib pandas para que essa fun√ß√£o funcione em qualquer arquivo.py ou ipynb
    import pandas as pd
    
    # Descobrindo a frequencia absoluta e relativa de cada valor da coluna
    freq_absoluta = coluna.value_counts()
    freq_relativa = round(coluna.value_counts(normalize=True) * 100, 2)
    
    # Vamos criar um dataframe para uma melhor visualisa√ß√£o dessas informa√ß√µes
    df = pd.DataFrame({'Freq_absoluta':freq_absoluta, 'Freq_relativa  (%)':freq_relativa})
    
    # Trocando o indice label das linhas 
    df.rename(index=indice, inplace=True)
    
    # Atribuindo um nome para a coluna de √≠ndice das linhas
    df.rename_axis(coluna.name, axis='columns', inplace=True)
    
    return df

 <br>

Vamos ver as frequ√™ncias da coluna 'Sexo' do nosso dataset

In [12]:
tabela(coluna=df['Sexo'], indice={0: 'Masculino', 1:'Feminino'})

Sexo       Freq_absoluta  Freq_relativa  (%)
Masculino          53250                69.3
Feminino           23590                30.7

 <br>

Vamos ver as frequ√™ncias da coluna 'Cor' do nosso dataset

In [13]:
tabela(coluna=df['Cor'], indice={0: 'Indigena', 2:'Branca', 4:'Preta', 6:'Amarela', 8:'Parda', 9:'Sem declara√ß√£o'})

Cor       Freq_absoluta  Freq_relativa  (%)
Parda             35925               46.75
Branca            31815               41.40
Preta              8391               10.92
Indigena            357                0.46
Amarela             352                0.46

 <br>

## üî∂ Cruzando os dados para obter mais informa√ß√µes

Agora vamos aprender a fazer um cruzamento entre dados usando a fun√ß√£o **crosstab** do pandas. Em um primeiro momento vamos descobrir a frequ√™ncia absoluta, frequ√™ncia relativa, renda m√©dia e idade m√©dia separando os dados em grupos de acordo com sexo e cor.

In [65]:
# Vamos criar o nosso dataframe com as frequ√™ncias absolutas ou relativas de cada grupo de acordo com seu sexo e cor
print('\nQual tipo de informa√ß√£o voc√™ deseja ver?')
print('''
[0] frequ√™ncia absoluta 
[1] frequ√™ncia relativa
[2] renda m√©dia
[3] idade m√©dia''')

tipo_info = input('\nResposta: ')


freq_tipo = False
func = None
val = None


if tipo_info == '1':
    freq_tipo = True
elif tipo_info == '2':
    func = 'mean'
    val = df['Renda']
elif tipo_info == '3':
    func = 'mean'
    val = df['Idade']
    

df_info = pd.crosstab(index= df['Cor'], columns= df['Sexo'], normalize= freq_tipo, aggfunc= func, values= val)

if tipo_info == '1':
    df_info = df_info*100

# Vamos renomear os indices das linhas e das colunas para ficar visivelmente mais agrad√°vel
df_info.rename(index={0: 'Indigena', 2:'Branca', 4:'Preta', 6:'Amarela', 8:'Parda', 9:'Sem declara√ß√£o'},
          columns={0: 'Masculino', 1:'Feminino'},
          inplace=True)

# Retirando o r√≥tulo dos eixos do dataframe
df_info.rename_axis(None, axis='columns', inplace=True)
df_info.rename_axis(None, axis='rows', inplace=True)

# Mostrando o dataframe 
round(df_info, 3)

Qual tipo de informa√ß√£o voc√™ deseja ver?

[0] frequ√™ncia absoluta
[1] frequ√™ncia relativa
[2] renda m√©dia
[3] idade m√©dia

Resposta: 3

          Masculino  Feminino
Indigena     42.242    44.564
Branca       45.108    44.880
Preta        43.162    43.955
Amarela      47.055    44.607
Parda        43.291    43.498

 <br>

## üî∂ Distribui√ß√£o de frequ√™ncia para vari√°veis quantitativas

Podemos calcular a frequ√™ncia das vari√°veis quantitativas de 2 formas. Classificando elas ou n√£o classificando elas.

### üî∫ Sem classifica√ß√£o

Para facilitar, vamos pegar a fun√ß√£o **tabela** e modific√°-la para poder calcular as frequ√™ncias das vari√°veis quantitativas do nosso dataset.

In [83]:
def tabela(coluna):
    # coluna: deve ser uma coluna do dataset que corresponda a uma vari√°vel qualitativa
    
    # Importando a lib pandas para que essa fun√ß√£o funcione em qualquer arquivo.py ou ipynb
    import pandas as pd
    
    # Descobrindo a frequencia absoluta e relativa de cada valor da coluna
    freq_absoluta = coluna.value_counts()
    freq_relativa = round(coluna.value_counts(normalize=True) * 100, 2)
    
    # Vamos criar um dataframe para uma melhor visualisa√ß√£o dessas informa√ß√µes
    df = pd.DataFrame({'Freq_absoluta':freq_absoluta, 'Freq_relativa  (%)':freq_relativa})
    
    # Atribuindo um nome para a coluna de √≠ndice das linhas
    df.rename_axis(coluna.name, axis='columns', inplace=True)
    
    return df

<br>

Vamos calcular as frequ√™ncias da coluna 'Renda' do nosso dataset sem classific√°-la.

In [84]:
tabela(df['Renda']).head() #O metodo head serve para visualisar as n primeiras linhas de um dataframe, o padr√£o √© 5

Renda  Freq_absoluta  Freq_relativa  (%)
788             6881                8.95
1500            4567                5.94
1200            4476                5.83
2000            4233                5.51
1000            4158                5.41

 <br>

Vamos calcular as frequ√™ncias da coluna 'Idade' do nosso dataset sem classific√°-la.

In [86]:
tabela(df['Idade']).head()

Idade  Freq_absoluta  Freq_relativa  (%)
40              2263                2.95
45              2250                2.93
37              2235                2.91
43              2213                2.88
35              2206                2.87

 <br>

### üî∫ Classificando as vari√°veis quantitativas

Vamos pegar a coluna 'Renda' e classific√°-la com base nas classes sociais.

<font color=orange> **Passo 1**<font>

Especificar os limites de cada classe. Usamero a seguinte classifica√ß√£o:

**A** >> Acima de 20 SM<br>
**C** >> De 10 a 20 SM<br>
**C** >> De 4 a 10 SM<br>
**D** >> De 2 a 4 SM<br>
**E** >> At√© 2 SM<br>

Onde **SM** √© o sal√°rio minino da √©poca. No nosso caso **R$ 788,00** (**2015**)

**A** >> Acima de 15.760<br>
**C** >> De 7.880 a 15.760 SM<br>
**C** >> De 3.152 a 7.880 SM<br>
**D** >> De 1.576 a 3.152 SM<br>
**E** >> At√© 1.576 SM<br>

<font color=orange> **Passo 2**<font>

Descobrir o valor m√°ximo e minimo da nossa 'Renda'.

In [6]:
maximo = df['Renda'].max()
minimo = df['Renda'].min()

print(maximo)
print(minimo)

200000
0

 <br>

Criar uma lista com o minimo, o maximo e os limites de cada classe. E tamb√©m vamos criar os labels do nosso dataframe.

In [7]:
limites = [0, 1576, 3152, 7880, 15760, 200000]
classes = ['E', 'D', 'C', 'B', 'A']

 <br>

Vamos usar o m√©todo cut do pandas para criar essa classifica√ß√£o.

In [8]:
import pandas as pd
x = pd.cut(x= df['Renda'], # a coluna que desejamos classificar
       bins= limites,      # os limites que definem a classifica√ß√£o
       labels= classes,    # serve para indicar qual tipo de classe a pessoa se encaixa
       include_lowest= True  # por padr√£o esse m√©todo n√£o contabiliza as linhas que tem o mesmo valor que o valor minimo    
      )                      # colocamos True para que o pandas passe a contabilizar essas linhas

 <br>

Agora vamos calcular a frequ√™ncia absoluta e relativa como ja fizemos antes.

In [9]:
# calculando a frequencia absoluta e relativa
freq_absoluta = x.value_counts()
freq_relativa = round(x.value_counts(normalize=True)*100,2)

# criando o dataframe para uma melhor visualiza√ß√£o das informa√ß√µes
df_frequencias = pd.DataFrame({'Freq_absoluta':freq_absoluta, 'Freq_relativa  (%)':freq_relativa})

# adicionando um rotulo para a coluna de indices
df_frequencias.rename_axis('Classes', axis=1, inplace=True)

# ordenando o as colunas pelo indice
df_frequencias.sort_index(ascending=False)

Classes  Freq_absoluta  Freq_relativa  (%)
A                  608                0.79
B                 2178                2.83
C                 7599                9.89
D                16700               21.73
E                49755               64.75

### üî∫ Formula para criar classes para vari√°veis quantitativas

As vezes podemos encontrar vari√°veis quantitativas que n√£o possuem uma classifica√ß√£o definida que nem no exemplo passado, aonde usamos as classes sociais. Por isso existe uma formula que nos ajuda a criarmos essas classifica√ß√µes, **a regra de sturges**.

Essa regra basicamente nos diz aproximadamente a quantidade de classes que devemos criar para ter um melhor entendimento dos dados. As classes devem ter uma aplitude fixa, ou seja, a raz√£o de uma classe para outra deve ser igual.


# $$k = 1 + \frac {10}{3}\log_{10}n$$

Para aplicarmos essa regra n√° pr√°tica precisaremos importar a lib numpy.

In [10]:
import numpy as np

In [15]:
# o n da formula seria a quantidade de valores que temos sobre uma vari√°vel, ou seja, a quantidade de linhas.
n = df.shape[0]

# construido o c√°lculo
k = 1 + (10/3) * np.log10(n)

k

17.285291187298853

Como n√£o √© possivel criar 17,28 classes, iremos arredondar o numero para dar continuidade.

In [20]:
k = int(k.round(0))
k

17

Agora n√≥s iremos fazer o que j√° fizemos anteriormente, vamos criar uma tabela que mostra a distribui√ß√£o dos dados de acordo com as 17 classes.

In [47]:
# Criando a classifica√ß√£o
clas = pd.cut(
    x= df['Renda'], # a coluna que desejamos classificar
    bins= k,        # a quantidade de classes
    include_lowest= True  # por padr√£o esse m√©todo n√£o contabiliza as linhas que tem o mesmo valor que o valor minimo    
                          # colocamos True para que o pandas passe a contabilizar essas linhas.  
)                     
        
# Calculando a frequencia absoluta e relativa
freq_absoluta = clas.value_counts(sort=False)
freq_relativa = (clas.value_counts(sort=False, normalize=True) * 100).round(3)

# Criando o dataframe para uma melhor visualiza√ß√£o das informa√ß√µes
df_frequencias = pd.DataFrame({'Freq. absoluta':freq_absoluta, 'Freq. relativa (%)':freq_relativa})

# Adicionando um rotulo para a coluna de indices
df_frequencias.rename_axis('Faixa de renda', axis='columns', inplace= True)

# Mostrando o df
df_frequencias

Faixa de renda            Freq. absoluta  Freq. relativa (%)
(-200.001, 11764.706]              75594              98.378
(11764.706, 23529.412]              1022               1.330
(23529.412, 35294.118]               169               0.220
(35294.118, 47058.824]                19               0.025
(47058.824, 58823.529]                16               0.021
(58823.529, 70588.235]                 5               0.007
(70588.235, 82352.941]                 4               0.005
(82352.941, 94117.647]                 1               0.001
(94117.647, 105882.353]                6               0.008
(105882.353, 117647.059]               0               0.000
(117647.059, 129411.765]               1               0.001
(129411.765, 141176.471]               0               0.000
(141176.471, 152941.176]               0               0.000
(152941.176, 164705.882]               0               0.000
(164705.882, 176470.588]               0               0.000
(176470.588, 188235.294]               0               0.000
(188235.294, 200000.0]                 3               0.004