# üéØ Introdu√ß√£o

##  üëæ <font size=5>Porque pandas?<font>

- [Pandas](https://pandas.pydata.org/) √© um pacote que oferece estrutura de dados rapidas, fexiveis e expressivas projetadas para tornar o trabalho com dados "Relacionais" ou "Rotulados/Indexados" f√°cil e intuitivo. 

- O pandas √© a biblioteca mais utilizada para manipula√ß√£o de dados.

- Tem uma sintaxe simples.

- Possui comandos muito importante para tratar e tirar insights.

##  üëæ <font size=5>O que √© o pandas?<font>

- O pandas √© uma biblioteca python criada por Wes Mckinney.
- Por debaixo do panos o pandas utiliza o numpy para ser mais eficiente e muitos dos seus bits algoritmicos de baixo nivel foram extensivamente ajustados no c√≥digo Cython. 
- Cria e manipula estruturas unidimencionais e bidimensionais.
- Tem integra√ß√£o com matplotlib para visualiza√ß√£o de dados.
- Fornece muitas funcionalidadades para a prepara√ß√£o de dados: reshaping, merging, ordena√ß√£o, slince, agrega√ß√£o, etc.
- Permite a cri√ß√£o de novas colunas derivadas (muito importante para machine learning).
- Permite o tratamento de dados faltantes (tamb√©m essencial para machine learning).

##  üëæ <font size=5>Estrutura de dados do pandas<font>

As duas estrutura de dados prim√°ria do pandas s√£o:
- Series: Array de tipo homog√™neo rotulado e cont√©m 1 dimens√£o.
- DataFrame: Estrutura tabular de tamanho mut√°vel e rotulado, cont√©m 2 dimen√ß√µes com coluna potencialmente heterog√™nea.

Todas as estruturas de dados pandas s√£o mut√°veis em valor (os valores que elas cont√©m podem ser alterados), mas nem sempre mut√°veis em tamanho. O comprimento de uma "Series" n√£o pode ser alterado, mas por exemplo, colunas podem ser inseridas em um DataFrame, no entanto a grande maioria dos m√©todos produz novos objetos.

Veremos mais sobre essas dus estruturas mais adiante.

##  üëæ <font size=5>O necess√°rio para manipular dados no pandas<font>

* Cria√ß√£o de objetos
* Entrada e sa√≠da de dados
* Visualizando dados
* Gr√°ficos
* Sele√ß√£o
* Opera√ß√µes
* Agrega√ß√µes e Jun√ß√µes (Merge vs Join)
* Agrupamento (Grouping)
* Remodelagem
* Dados ausentes
* S√©ries Temporais
* Categ√≥ricos
* Lidando com Erros

# üéØ Instala√ß√£o

Para instalar o pandas existem v√°rias maneiras, a que eu vou apresentar voc√™ vai precisar ter o jupyter [notebook](https://jupyter.org/install#jupyter-notebook) e o [python](https://www.python.org/downloads/) instalados.

Agora voc√™ abre o jupyter e roda esse comando para instalar o pandas.

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/audax/.local/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /home/audax/.local/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in /home/audax/.local/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/audax/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Rode esse outro comando para conferir a vers√£o do pandas

In [2]:
import pandas
pandas.__version__

'1.4.4'

# üéØ Conven√ß√£o de importa√ß√£o

O acordo feito pela comunidade pandas escolheu o apelido 'pd' como padr√£o para utilizar na hora da importa√ß√£o. Para que outras pessoas possam ler o seu c√≥digo sem dificuldades √© bom usar pd.

In [3]:
import pandas as pd

# üéØ  Series

##  üëæ <font size=5>Defini√ß√£o<font>

<br>
Series √© uma matriz rotulada unidimensional que pode receber diversos tipos dados como entrada, por exemplo, str, bool, int, float, uma lista, um 1D np.ndarray, alguns objetos python e etc. <br><br>

J√° os dados que podem ser armazenados nas colunas de uma Series s√£o: str, int, float, bool, dados categ√≥ricos e mais ...<br><br>

obs: Dentro de uma Series pode haver uma salada de dados, no entanto vale ressalatar que o pandas √© implementado usando o numpy, ent√£o se voc√™ colocar uma salada mista de dados dentro uma Series ela ir√° perder performace e muitas das suas vantangens.<br><br>

![Series](https://pythonru.com/wp-content/uploads/2020/05/struktura-obekta-series.png)
<br>

##  üëæ <font size=5>Parametros de cria√ß√£o<font>

<br>
Os parametros para a cria√ß√£o de uma Series est√£o logo abaixo junto com a explica√ß√£o de cada um. 

No entanto caso voc√™ queira beber da fonte o link est√° [aqui](https://pandas.pydata.org/docs/reference/api/pandas.Series.html?highlight=pandas%20series#pandas.Series).<br><br>

## <font color=purple>_pandas.Series (_<font>
<br>

**data** =  None<br> 
**index** =  None<br>
**dtype** =  None<br>
**name** =  None<br>
**copy** =  False<br>

## <font color=purple>_)_<font>
<br>


## <font color=purple>data : array-like, Iterable, dict, or scalar value<font>

O par√¢metro data recebe um objeto python que ser√° transformado em uma Series. Esse objeto pode ser uma iterable, um dicion√°rio, um int, uma str, etc.

Quando voc√™ for passar ao par√¢metro **data** alguma iterable, √© bom lembrar que o pandas utiliza o numpy por baixo do capor, por isso passar uma iterable com elementos que possuem tipos de dados diferentes far√° com que voc√™ tenha uma Series pouco perform√°tica. Voc√™ pode at√© criar uma Series que cont√©m uma salada mista dedos, mas o ideal √© utilizar apenas um tipo de dado.

Agora vamos criar uma Series a partir de uma lista e tamb√©m apartir de um valor do tipo int.

In [4]:
se1 = pd.Series(data=['A', 'B', 'C', 'D'])
print(f'--se1-- \n{se1}')

print('\n')

se2 = pd.Series(data=2)
print(f'--se2-- \n{se2}')

--se1--
0    A
1    B
2    C
3    D
dtype: object


--se2--
0    2
dtype: int64

 <br>

Criando uma Series que cont√©m uma salada mista de dados.

In [5]:
se = pd.Series(data=['Audax', 18, 1.81, 'M', True])
se

0    Audax
1       18
2     1.81
3        M
4     True
dtype: object

 <br>

Quando criamos uma Series a partir de um dicion√°rio, as chaves do dicion√°rio se tornar√£o os indices da Series e os valores da chaves se tornar√£o os elementos da Series. Mais adiante falaremos melhor sobre como funciona os indices de uma Series.

In [6]:
dicionario = {
    'Nome' : 'Audax',
    'Idade': 18,
    'Sexo': 'Masculino'
}

se = pd.Series(data=dicionario)
se

Nome         Audax
Idade           18
Sexo     Masculino
dtype: object

 <br>


## <font color=purple>index : array-like or Index (1d) <font>

Antes de tudo precisamos entender como os indices de uma Series funciona. 

Uma Series tem 3 tipos de indices: 

**Indice negativo:** S√£o valores negativos usados para representar os √≠ndices de uma Series. Para entendermos como isso acontece, o √∫ltimo elemento fica na posi√ß√£o -1, o pen√∫ltimo fica na posi√ß√£o -2, o antepen√∫ltimo, na posi√ß√£o -3 e assim por diante. 


**Indice padr√£o:** Funciona como os indices de uma lista. O primeiro elemento tem indice 0, o segundo tem indice 1 e assim por diante. 


**Indice label:** Quando voc√™ defini os indices da uma Series ou DataFrame voc√™ est√° trabalhando com o index label (no portugu√™s r√≥tulo de indice). √â possivel alter√°-los sempre que necess√°rio.

---

Nesse primeiro momento n√£o iremos ver como selecionar elementos ou fatias de uma Series. Apena iresmo aprender como definir os indices de uma Series.

---

O par√¢metro **index** serve para definir os √≠ndices label de uma Series. Voc√™ passa uma lista com o mesmo tamanho que o objeto passado ao par√¢metro **data**, composta por qualquer tipo de dado, desde que esses dados sejam [hashable](https://stackoverflow.com/questions/14535730/what-does-hashable-mean-in-python). Quando n√£o definimos o indice label, a Series adota por padr√£o o RangeIndex (0, 1, 2, ‚Ä¶, n).

In [7]:
# Criando uma Series sem o index label

se = pd.Series(data=['Audax', 'Netuno', 'Ciclope'])
se

0      Audax
1     Netuno
2    Ciclope
dtype: object

In [8]:
# Criando uma Series e definindo o indice label
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope'], index=['nome1', 'nome2', 'nome3'])
se

nome1      Audax
nome2     Netuno
nome3    Ciclope
dtype: object

In [9]:
# Definindo um indice label muito louco
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope', 'Spike'], index=['nome1', 2.5, 2, True])
se

nome1      Audax
2.5       Netuno
2        Ciclope
True       Spike
dtype: object

 <br>

√â importante lembrar que √© possivel usar o indice negativo e o indice padr√£o ap√≥s o indice label ser definido, menos quando o indice label for definido por valores do tipo int ou float. Nesse caso o indice label meio que sobrescrevece os outros tipos de indices.

In [10]:
# Definindo um indice label com valores numericos, mas que n√£o remete ao RangeIndex(0, 1, 2, ..., n)
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope', 'Spike'], index=[-2, 13, 10, 0])
se

-2       Audax
 13     Netuno
 10    Ciclope
 0       Spike
dtype: object

 <br>

Parece meio estranho, mas podemos ter valores de √≠ndices iguais, quando buscamos pelo indice, ele tr√°z todos os elementos 'apontados' por aquele indice (todas as linhas que tem refer√™ncia daquele √≠ndice).

In [11]:
# Definindo um indice label com valores de indices repetidos
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope', 'Spike'], index=['A', 'A', 'B', 'C'])
print(se, '\n')

# Selecionando os valores que correspondem ao indice 'A'
se['A']

A      Audax
A     Netuno
B    Ciclope
C      Spike
dtype: object

A     Audax
A    Netuno
dtype: object

 <br>


## <font color=purple>dtype : str, numpy.dtype, or ExtensionDtype, optional <font>

Esse par√¢metro serve para definirmos o tipo de dado dos elementos de uma Series. Se n√£o definirmos o tipo, o pandas infere a partir dos dados. √â bem importante que uma Series tenha elementos com o mesmo tipo de dado, pois assim voc√™ ter√° mais eficiencia e muitas vantangens para manipul√°-la.

In [12]:
# Usando uma string para definir o dtype de uma Series 
se = pd.Series(data=[18, 25, 19, 31], dtype='float') # Poderia ser 'str32', 'str16', 'int8', 'int32', 'bool', etc.
print(se.dtype)

float64

In [13]:
# Usando o numpy.dtype para definir o dtype de uma Series
se = pd.Series(data=[18, 25, 19, 31], dtype=np.float64)
print(se.dtype)

float64

 <br>

Quando uma Series tem uma salada mista de dados ou os dados s√£o do tipo str, o dtype dela √© defido pelo pandas como object.

In [14]:
se1 = pd.Series(data=['Audax', 18, 'M', 1.81])
se2 = pd.Series(data=['A', 'B', 'C', 'D'])

print(se1.dtype)
print(se2.dtype)

object
object

 <br>

Cuidado na hora convers√£o, para n√£o tentar fazer convers√µes que n√£o sejam possiveis.

In [15]:
se1 = pd.Series(data=[18.1, 25.3, 19.7, 31.8], dtype='int64')

ValueError: Trying to coerce float values to integers

 <br>


## <font color=purple>name : str, optional <font>

Serve para nomear uma Series, deve ser passado uma string. Se uma Serie for transformada numa coluna de um dataframe, o nome dela ser√° usado como o r√≥tulo da coluna do dataframe.

In [17]:
se = pd.Series(data=[13, 18, 17, 20, 23], name='Idade')
se

0    13
1    18
2    17
3    20
4    23
Name: Idade, dtype: int64

 <br>


## <font color=purple>copy : bool, default False <font>

Faz uma c√≥pia do objeto de entrada. Afeta apenas a entrada S√©rie ou 1d ndarray.

In [16]:
import numpy as np

# Criando um nd array para usar no exemplo
x = np.array([12, 13, 15, 11, 10])
print(x)

# Criando 2 Series, uma √© uma copia e a outra apenas um tipo de apontamento para x
se1 = pd.Series(data=x, copy=True)
se2 = pd.Series(data=x, copy=False)

# Modificando o a vari√°vel x
x[0] = 99

# Mostrando as 2 Series e a vari√°vel x
print(x, '\n')
print(f'**se1** \n{se1}\n')
print(f'**se2** \n{se2}\n')

[12 13 15 11 10]
[99 13 15 11 10]

**se1**
0    12
1    13
2    15
3    11
4    10
dtype: int64

**se2**
0    99
1    13
2    15
3    11
4    10
dtype: int64

##  üëæ <font size=5>Indexa√ß√£o basica<font>

##  üëæ <font size=5>Indexa√ß√£o booleana<font>

##  üëæ <font size=5>Indexa√ß√£o utilizando m√©todos<font>

##  üëæ <font size=5>Opera√ß√µes aritim√©ticas com series<font>

# üéØ DataFrame

## üëæ  <font size=5>Defini√ß√£o<font>

<br>
O DataFrame √© uma estrutura de dados tabular, semelhante a planilha de dados do Excel, essa estrutrura conciste em tr√™s componentes principais, os dados, linhas e colunas, onde as linhas e colunas possuem rotulos.<br>

Olhando para a estrutura do DataFrame vamos perceber que ele √© a jun√ß√£o de duas ou mais Series, ou seja, cada coluna de um _**DataFrame**_ √© uma _**Series**_, veja.<br><br>


![S](https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png)

<br><br>

Os dados que compoem cada coluna de um DataFrame podem ser variados, ou seja, uma coluna pode conter v√°rios tipos de dados, como por exemplo, int e object (o pandas identifica str  como object). No entanto como o pandas  √© implementado usando o numpy, isso far√° o DataFrame perder performance e muitas das suas vantagens.<br>

Alguns dados de entrada para a cria√ß√£o de um DataFrame s√£o: Dict, listas, Series, np.ndarray de 1D ou 2D , outro DataFrame e muito mais ...<br>

J√° os dados que podem ser armazenados nas colunas de um DataFrame s√£o: object (str), int, float, bool, dados categ√≥ricos e etc.<br>

Um DataFrame pode ter seu tamanho mudado, atrav√©s da exclus√£o ou inser√ß√£o de linhas ou colunas.

## üëæ <font size=5>Parametros de cria√ß√£o <font>

<br>
Os parametros de cria√ß√£o de um DataFrame est√£o abaixo junto com a explica√ß√£o de cada um. 

No entanto caso voc√™ queira beber da fonte o link est√° [aqui](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html?highlight=pandas%20dataframe#pandas.DataFrame).<br><br>

### _pandas.DataFrame (_
<br>

**data**    =  None<br> 
**index**   =  None<br>
**columns** =  None<br>
**dtype**   =  None<br>
**copy**    =  None<br>

### _)_
<br>


### data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame

O parametro _**data**_ √© responsavel por receber o objeto que ser√° transformado em um DataFrame, esse objeto pode ser do tipo dict, listas, Series, np.ndarray de 1D ou 2D e outro DataFrame.<br>

Por padr√£o esse parametro √© None, o que signica que n√£o h√° a necessidade de atribuir algum valor para esse parametro na hora da cria√ß√£o do DataFrame.


Quando n√£o atribuimos nenhum valor ao parametro **data** estamos criando um DF vazio.

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame()
df

Podemos montar um DataFrame com os estados da regi√£o norte do Brasil com uma **lista**, ao fazer isso a lista se trasmormar√° em uma coluna do DF (as linhas e colunas ter√£o rotulos num√©ricos).

In [ ]:
estados = ['Acre',
           'Amap√°',
           'Amazonas',
           'Par√°',
           'Rond√¥nia',
           'Roraima',
           'Tocantins']

df = pd.DataFrame(data=estados)
df

Tamb√©m podemos utilizar uma **lista de listas** para montar um DataFrame com v√°rias colunas.

In [ ]:
capitais = [['Acre', 'AC', '803,5 mil', 'Rio Branco'],
            ['Amap√°', 'AP', '776,6 mil', 'Macap√°'],
            ['Amazonas', 'AM', '3,9 milh√µes', 'Manaus'],
            ['Par√°', 'PA', '8,1 milh√µes', 'Bel√©m'],
            ['Rond√¥nia', 'RO', '1,7 milh√£o', 'Porto Velho'],
            ['Roraima', 'RR', '505,6 mil', 'Boa Vista'],
            ['Tocantins', 'TO', '1,5 milh√£o', 'Palmas']]


df = pd.DataFrame(data=capitais)
df

Outra forma de criar um DataFrame √© apartir de um **dicion√°rio**. Quando criamos um DF a partir de um dicion√°rio, cada item do dicion√°rio ser√° uma coluna do df, a chave ser√° o rotulo da coluna e o valor da chave ser√£o os valores da coluna.

In [ ]:
estados = {'Estado': ['Acre',
                       'Amap√°',
                       'Amazonas',
                       'Par√°',
                       'Rond√¥nia',
                       'Roraima',
                       'Tocantins'],
            'Sigla': ['AC',
                      'AP',
                      'AM',
                      'PA',
                      'RO',
                      'RR',
                      'TO'],
            'Popula√ß√£o': ['803,5 mil',
                          '776,6 mil',
                          '3,9 milh√µes',
                          '8,1 milh√µes',
                          '1,7 milh√£o',
                          '505,6 mil',
                          '1,5 milh√£o'],
            'Capital': ['Rio Branco',
                        'Macap√°',
                        'Manaus',
                        'Bel√©m',
                        'Porto Velho',
                        'Boa Vista',
                        'Palmas']}


df = pd.DataFrame(data=estados)
df

**Resumo**<br>
Resumindo, o parametro data serve para indicar o que queremos que o pandas transforme em um DataFrame.
<br><br><br>


### index : Index or array-like

O parametro index √© opcional, por padr√£o o √≠ndice do dataframe come√ßa em 0 e termina no √∫ltimo valor. Ele define os √≠ndices das linha.

Quando criamos um DataFrame a partir de outros objetos ou de inporta√ß√£o de dados, o pandas define o indice das linhas por padr√£o como num√©rico, mas √© possivel modificar esses √≠ndices e passar como valor para o parametro **index** algum array.

In [ ]:
import pandas as pd

In [ ]:
nomes = ['Alba', 'Ana', 'Am√©lia', 
         'Breno', 'Bruno', 'Bernardo',
         'Carla', 'Cesar', 'Cris']

rotulo = [10, 11, 12, 13, 14, 15, 16, 17, 18]
# rotulo2 = [p[0] for p in nomes] 

df = pd.DataFrame(data=nomes, index=rotulo)
df


### Columns : Index or array-like

Este par√¢metro se comporta de duas maneiras diferentes. Vamos ver n√° pr√°tica.

Quando criamos um dataframe a partir de uma lista de listas, os indices das linhas e os rotulos das colunas ser√£o num√©ricos. Quando o r√≥tulo das colunas forem num√©ricos, podemos usar o par√¢metro columns para nomear as colunas.

In [ ]:
lista = [['huan', 18, 'm'],   
         ['luigi', 19, 'm'],
         ['lucas', 18, 'm'],
         ['manoel', 17, 'm'], 
         ['sim√£o', 19, 'm']]

# colunas sem nome 
df = pd.DataFrame(data=lista)
display(df)


# nomeando as colunas
df = pd.DataFrame(data=lista, columns=['nome', 'idade', 'sexo'])
display(df)

J√° quando criamos um dataframe a partir de um dicion√°rio ou uma lista de Series, o par√¢metro columns serve para definir quais itens do dicion√°rio ou, quais Series da lista devem ser transformado no dataframe.

In [ ]:
dic = {
    'nome' : ['huan', 'luigi', 'lucas', 'manoel', 'sim√£o'],
    'idade' : [18, 19, 18, 17, 19],
    'sexo' : ['m', 'm', 'm', 'm', 'm']
    
}

# dataframe completo 
df = pd.DataFrame(data=dic)
display(df)


# apenas nome e sexo
df = pd.DataFrame(data=dic, columns=['nome', 'sexo'])
display(df)


### dtype : dtype, default None

Esse parametro serve para for√ßar todos os valores a terem o mesmo tipo. Apenas um √∫nico dtype √© permitido.<br>
Caso o DF tenha algum valor com tipo de dado igual a str n√£o ser√° possivel fazer a convers√£o.

In [ ]:
idades = [12, 13, 14, 10, 11, 17, 10, 69]

# Alguns tipos de dados num√©ricos
flutuante = [np.float16, np.float32, np.float64]
inteiro = [np.int16, np.int32, np.int64]

df = pd.DataFrame(data=idades, dtype = inteiro[0])

df.dtypes

Obs: caso exista um valor que √© um numero, mas tem tipo str, √© possivel fazer a convers√£o de todos os valores para float.

In [ ]:
idades = ['12', 13, 14, 10, '11', '17', 10, '69']

flutuante = [np.float16, np.float32, np.float64]

df = pd.DataFrame(data=idades, dtype = flutuante[0])

df.dtypes


### copy : bool, default None

O parametro **copy** serve para situa√ß√µes que voc√™ queira criar um dataframe novo a partir de uma Series ou um Dataframe antigo sem que altera√ß√µes futuras nesses objetos possam alterar o DataFrame tamb√©m.<br>

Esse parametro recebe valores booleanos, ou seja, **False** ou **True**. Por padr√£o ele √© **False**.<br>

Caso o valor seja **True**, qualquer altera√ß√£o no objeto de cria√ß√£o n√£o acarretar√° em uma mudan√ßa no DataFrame.<br>

E se for **False**, qualquer altera√ß√£o no objeto de cria√ß√£o acarretar√° em uma mudan√ßa no DataFrame.

In [ ]:
dic = {
    'nome' : ['huan', 'luigi', 'lucas', 'manoel', 'sim√£o'],
    'idade' : [18, 19, 18, 17, 19],
    'sexo' : ['m', 'm', 'm', 'm', 'm']
}

df = pd.DataFrame(data=dic)

df1 = pd.DataFrame(df, copy= True) # Agora √© possivel fazer altera√ß√µes no df1 sem alterar o df, vice e versa.
df2 = pd.DataFrame(df, copy= False) 

df.loc[0, ['nome']] = 'modificado'

display(df1)
display(df2)

## üëæ <font size=5>Importando arquivos ou bases de dados<font>

<br>
O pandas oferece uma variedade de m√©todos que serve para ler um arquivo e transforma-lo em uma tabela (DataFrame). Veja alguns:
    
| [pd.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html?highlight=pandas%20read_) | 
[pd.read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html?highlight=pandas%20read_) | 
[pd.read_json](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html?highlight=pandas%20read_) | 
[pd.read_html](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html?highlight=pandas%20read_) | 
[pd.read_sas](https://pandas.pydata.org/docs/reference/api/pandas.read_sas.html?highlight=pandas%20read_) | 
[pd.read_sql](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html?highlight=pandas%20read_) | 
[pd.read_table](https://pandas.pydata.org/docs/reference/api/pandas.read_table.html?highlight=pandas%20read_) |


<br>
Cada m√©todo foi criado para ler um tipo de arquivo e por isso tem suas particularidades, devido ao nome dos m√©todos fica facil entender pra qual tipo de arquivo ele serve. Abaixo segue a explica√ß√£o de alguns desses m√©todos.<br><br>

###  üê• pd.read_csv ( )



### O que esse m√©todo faz?

A maioria dos dados est√° disponivel em um formato tabular (linhas e colunas) de arquivos CSV. √â muito popular. Por isso o pandas despolibiliza o m√©todo pd.read_csv, que importa um arquivo csv para o formato DataFrame. Tamb√©m suporta iterar ou dividir o arquivo em partes. Caso voc√™ queira aprender como ler um arquivo CSV sem usar o pandas, o link est√° [aqui](https://www.youtube.com/watch?v=AnJPtKLtc7o&ab_channel=HashtagPrograma%C3%A7%C3%A3o).

### O que √© um arquivo CSV?

CSV √© a sigla para 'Comma Separated Values' (em portugu√™s, valores separados por virgula). Um arquivo CSV √© um arquivo de texto que organiza informa√ß√µes reparados por virgula em 2 dimen√ß√µes, ou seja, linhas e colunas. O conte√∫do geralmente s√£o textos n√∫meros ou datas. Os arquivos CSV podem ser facilmente importados e exportados usando programas que armazenam dados em tabelas.

### Como um arquivo CSV √© organizado?

Em geral a primeira linha cont√©m os r√≥tulos das colunas das tabelas. Cada uma das linhas subsequentes representam uma linha da tabela. Virgulas separam cada valor da linha, o que √© motivo para o nome do formato.

Aqui temos um exemplo de um arquivo CSV. O exemplo tem 3 colunas, com os r√≥tulos nome, idade e comida favorita. Temos 5 linhas incluindo a linha do cabe√ßalho.

In [ ]:
nome,idade,comida favorita
huan barros,18,muita coisa
jo√£o polinario,15,pizza
ana barretos,17,lasanha
marcos silva,13,sorvete


### Par√¢metros

Os par√¢metros que esse m√©todo pode receber s√£o inumeros, por isso separamos somente os que voc√™ provavelmente precisa conhecer no inicio. Mas, caso voc√™ queira conhecer todos os par√¢metros o link est√° [aqui](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv). <br><br>

### _pd.read_csv (_ 
<br>

**filepath_or_buffer**<br>
**sep** = ',' <br>
**header** = 'infer' <br>
**names** = _NoDefault.no_default <br>
**index_col** = None <br>
**usecols** = None <br>
**dtype** = None <br> 
**converters** = None <br>
**skiprows** = None <br>
**skipfooter** = 0 <br>
**nrows** = None <br>
**na_values** = None <br>
**skipfooter** = True


### _)_ <br>


### filepath_or_buffer : str

Esse par√¢metro √© a localiza√ß√£o do **arquivo.csv** e deve ser passado no formato de uma string. Se o **arquivo.csv** estiver no mesmo diret√≥rio do projeto ser√° necess√°rio ser passado apenas o nome do arquivo, caso contr√°rio voc√™ ter√° que passar o caminho completo da base do seu sistema de arquivos para o **arquivo.csv** que voc√™ deseja carregar, por exemplo, /home/audax/Downloads/test_file.csv . Esse par√¢metro tamb√©m aceita a URL do arquivo como localiza√ß√£o.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data-base/teste1.csv')
df

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete


### sep : str

Significa um separador, que serve para separar os valores de cada linha de um arquivo.csv, o padr√£o √© uma v√≠rgula. No entanto pode haver arquivos com o sepador diferente da virgula, como por exemplo, dois pontos, a barra vertical e muitos outros. Nesse caso √© necess√°rio indicar ao par√¢metro **sep** que separador √© esse.

In [4]:
df = pd.read_csv('data-base/teste2.csv', sep='|') # o arquivo usa a barra vertical como separador
df

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

√â possivel haver mais de um tipo de separador em um arquivo CSV. Por isso o pandas dispolibiliza 3 mecanismos diferentes para o analisador de arquivos CSV. Os mecanismos C, pyarrow e python. C e pyarrow s√£o mais r√°pidos n√° hora de ler o arquivo e separar os valores, no entato eles n√£o conseguem ler arquivos que tenham mais de 1 separador. J√° o mecanismo python √© atualmente mais completo e √© capaz de ler arquivos CSV com mais de 1 separador, no entanto deixa a dejar na sua velocidade.

Para usar o pyarrow √© necess√°rio fazer a instala√ß√£o do pyarrow.csv via pip ou conda. Os outros n√£o precisa.

Para escolher o mecanismo que voc√™ quer usar o pandas disponibilizou o parametro **engine**, que recebe uma str com o nome do mecanismo.<br>

In [5]:
# √© necess√°rio passar os separadores dentro de colchetes, e o tipo do dado tem que ser str
df = pd.read_csv('data-base/teste3.csv', sep='[,|:]', engine='python')
df

             nome  dade comida favorita
0     huan barros    18     muita coisa
1  jo√£o polinario    15           pizza
2    ana barretos    17         lasanha
3    marcos silva    13         sorvete


### header  : int, list of int

Serve para especificar qual linha do seu arquivo ser√° usada como os r√≥tulos das colunas do seu DataFrame. √â esperado um valor int ou uma lista de valores int. O valor padr√£o √© **_header=0_**.

In [6]:
# Escolhendo a 4¬™ linha do arquivo como cabe√ßalho
df = pd.read_csv('data-base/teste1.csv', header=3) 
df

   ana barretos  18  lasanha
0  marcos silva  13  sorvete

In [7]:
# Escolhendo a 1¬™ e  a 2¬™ linha do arquivo como cabe√ßalho
df = pd.read_csv('data-base/teste1.csv', header=[0, 1])   # S√≥ pode ser uma lista de ints, outro tipo de array n√£o
df

             nome idade comida favorita
      huan barros    18     muita coisa
0  jo√£o polinario    15           pizza
1    ana barretos    18         lasanha
2    marcos silva    13         sorvete


### names : array - like

O par√¢metro names recebe um array com valores que ser√£o usados como o cabe√ßalho do DataFrame. O array n√£o pode conter valores repetidos. Caso o seu arquivo CSV j√° tenha cabe√ßalho, ele se tornar√° a primeira linha do DataFrame. Para sobrescrever um cabe√ßalho j√° existente √© necess√°rio passar **header=0**.

In [8]:
# Antes de mudar o nome das colunas
df = pd.read_csv('data-base/teste1.csv')
display(df)

# Depois de mudar o nome das colunas
df = pd.read_csv('data-base/teste1.csv',header=0, names=['name', 'age', 'favorite food'])
display(df)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

             name  age favorite food
0     huan barros   18   muita coisa
1  jo√£o polinario   15         pizza
2    ana barretos   18       lasanha
3    marcos silva   13       sorvete



### index_col : int, str, sequence of int or str, or False

Serve para escolher qual coluna ser√° usada como √≠ndice do DataFrame, o valor padr√£o √© None/False. Para escolher a coluna voc√™ precisa passar o nome ou o √≠ndice da coluna. Tamb√©m √© possivel passar uma lista com os nomes ou os √≠ndices da colunas que voc√™ queira que virem o √≠ndice do seu DataFrame. Ao fazer isso um MultiIndex ser√° usado, ou seja, o seu DataFrame ter√° mutiplos √≠ndices.

In [9]:
# Utilizando o indice da coluna

df = pd.read_csv('data-base/teste1.csv', index_col=0)
df

                idade comida favorita
nome
huan barros        18     muita coisa
jo√£o polinario     15           pizza
ana barretos       18         lasanha
marcos silva       13         sorvete

In [10]:
# Utilizando o nome da coluna

df = pd.read_csv('data-base/teste1.csv', index_col='nome')
df

                idade comida favorita
nome
huan barros        18     muita coisa
jo√£o polinario     15           pizza
ana barretos       18         lasanha
marcos silva       13         sorvete

In [11]:
# Utilizando uma lista com os indices das colunas, poderia ser outro tipo de array

df = pd.read_csv('data-base/teste1.csv', index_col= [0, 2])
df

                                idade
nome           comida favorita
huan barros    muita coisa         18
jo√£o polinario pizza               15
ana barretos   lasanha             18
marcos silva   sorvete             13

In [12]:
# Utilizando uma lista com os nomes das colunas, poderia ser outro tipo de array

df = pd.read_csv('data-base/teste1.csv', index_col= ['nome', 'comida favorita'])
df

                                idade
nome           comida favorita
huan barros    muita coisa         18
jo√£o polinario pizza               15
ana barretos   lasanha             18
marcos silva   sorvete             13


### usecols : list-like ou callable

Serve para especificar quais colunas do arquivo CSV devem ser importadas para o DataFrame. O padr√£o √© None, ou seja, todas as colunas ser√£o importadas. O par√¢metro deve receber uma lista com os √≠ndices ou os nomes das colunas que devem ser importadas para o DataFrame.

In [13]:
# Utilizando os √≠ndice da coluna

df = pd.read_csv('data-base/teste1.csv', usecols=[0, 2]) # √â possivel escolher apenas uma coluna, mas o indice
                                                         # presica estar dentro de uma lista.
df

             nome comida favorita
0     huan barros     muita coisa
1  jo√£o polinario           pizza
2    ana barretos         lasanha
3    marcos silva         sorvete

In [14]:
# Utilizando os nomes da coluna

df = pd.read_csv('data-base/teste1.csv', usecols=['nome', 'comida favorita'])
df

             nome comida favorita
0     huan barros     muita coisa
1  jo√£o polinario           pizza
2    ana barretos         lasanha
3    marcos silva         sorvete


### dtype : Type name or dict of column -> type, optional

O par√¢metro dtype serve para determinar o tipo de dado que cada coluna deve ter. Ele recebe um dicion√°rio, aonde a chave do dicion√°rio, deve ser nome da coluna e o valor da chave, o tipo de dado que ser√° for√ßado na coluna.

In [15]:
df = pd.read_csv('data-base/teste1.csv', dtype={'nome':'string', 'idade':'float', 'comida favorita':'string'})

df.dtypes

nome                string
idade              float64
comida favorita     string
dtype: object


### converters : dict

O parametro converters possiblita que voc√™ fa√ßa altera√ß√µes, transforma√ß√µes ou convers√µes nos valores das colunas do arquivo CSV enquanto importa o pr√≥prio CSV. Para isso √© necess√°rio passar um dicion√°rio com fun√ß√µes. A chave do dicion√°rio deve conter o nome da coluna e o valor da chave a fun√ß√£o. 

Vamos a um exemplo: o objetivo √©, da coluna nome, pegar somente o primeiro nome da pessoa. E da coluna idade, transformar os anos em meses.

In [16]:
# DataFrame importado sem altera√ß√µes
df1 = pd.read_csv( filepath_or_buffer = 'data-base/teste1.csv') 
display(df1)


# DataFrame importado com altera√ß√µes
df2 = pd.read_csv(
    
    filepath_or_buffer = 'data-base/teste1.csv',
    converters = {'nome' : lambda x: x.split()[0],
                  'idade': lambda x: int(x)*12}
)

display(df2)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

     nome  idade comida favorita
0    huan    216     muita coisa
1    jo√£o    180           pizza
2     ana    216         lasanha
3  marcos    156         sorvete


### skiprows : list-like, int ou callable

O skiprows serve para definir quais linhas desde o inicio do arquivo devem ser ignoradas na hora da importa√ß√£o. O skiprows pode receber 3 tipos de valores, um numero (int), uma lista de √≠ndices ou uma fun√ß√£o. O valor padr√£o do par√¢metro √© **None**.

Suponha que voc√™ queira ignorar as 3 primeiras linhas do arquivo, para isso basta passar ao par√¢metro o numero 3. Se voc√™ quer ignorar as **n** primeiras linhas do arquivo √© s√≥ passar o numero **n** ao par√¢metro. Quando essa opera√ß√£o √© feita, a linha **n+1** se tornar√° o cabe√ßalho do dataframe. Veja um exemplo.

In [18]:
# dataframe original
df = pd.read_csv('data-base/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('data-base/teste1.csv', skiprows=2)
display(df)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

  jo√£o polinario  15    pizza
0   ana barretos  18  lasanha
1   marcos silva  13  sorvete

Caso queira pular linhas espec√≠ficas, voc√™ pode passar uma lista com os √≠ndices das linhas a serem ignoradas.

In [20]:
# dataframe original
df = pd.read_csv('data-base/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('data-base/teste1.csv', skiprows=[1, 3])
display(df)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

             nome  idade comida favorita
0  jo√£o polinario     15           pizza
1    marcos silva     13         sorvete

Tamb√©m √© possivel passar uma fun√ß√£o ao par√¢metro para pular linhas espec√≠fcas. Vamos passar uma fun√ß√£o lambda que vai ignorar as linhas √≠mpares. Quando um linha for √≠mpar a fun√ß√£o lambda retorna True indicando que essa linha deve ser ignorada caso ela seja par a fun√ß√£o lambda retorna False indicando que esse linha n√£o deve ser ignorada.

In [21]:
# dataframe original
df = pd.read_csv('data-base/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('data-base/teste1.csv', skiprows= lambda n: n%2!=0)
display(df)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

             nome  idade comida favorita
0  jo√£o polinario     15           pizza
1    marcos silva     13         sorvete


### skipfooter : int

Serve para definir o numero de linhas que devem ser igonaradas na parte inferior do arquivo. O valor padr√£o √© 0. **N√£o suportado com engine='c'**, ou seja, quando voc√™ precisar ignorar algumas linhas da parte inferior do arquivo, ter√° que usar o engine python ou pyarrow. Vamos a um exemplo:

In [22]:
# dataframe original
df = pd.read_csv('data-base/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('data-base/teste1.csv',engine='python' ,skipfooter = 1)
display(df)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha


### nrows : int

Numero de linhas do arquivo a serem lidas, o cabe√ß√°rio vem incluso por padr√£o. √ötil para ler peda√ß√µs de arquivos grandes. O valor padr√£o do par√¢metro √© None.

Obs: Se voc√™ colocar um numero maior que o numero de linhas existente no arquivo n√£o acontece nada, o pandas simplismente ler o arquivo todo.

In [23]:
# dataframe original
df = pd.read_csv('data-base/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('data-base/teste1.csv',nrows=2)
display(df)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza


### na_values : scalar, str, list-like ou dict


Por padr√£o, os seguintes valores s√£o interpretados como nulo: 

**'NaN'** Ôæ†Ôæ†**'n /a'**Ôæ†Ôæ†Ôæ†**'nan'**Ôæ†Ôæ†Ôæ†**'null'**<br>

**''**Ôæ†Ôæ†Ôæ†Ôæ†**'#N/A'**Ôæ†Ôæ†**'#N/AN/A'**Ôæ†Ôæ†**'#NA'**<br>

**'-1.#IND'**Ôæ†Ôæ†**'-1.#QNAN'**Ôæ†Ôæ†Ôæ†**'-NaN'**

**'-nan'**Ôæ†Ôæ†Ôæ†**'1.#IND'**Ôæ†Ôæ†Ôæ†Ôæ†**'1.#QNAN'**

**'N/A'**Ôæ†Ôæ†Ôæ†Ôæ†**'NA'**Ôæ†Ôæ†Ôæ†Ôæ†Ôæ†Ôæ†**'NULL'**

<br>

Com o par√¢metro na_values voc√™ pode definir outros valores para serem considerado como nulos no momento da importa√ß√£o do arquivo.

√â possivel passar como valor para ao par√¢metro um dicion√°rio, aonde a chave do dicion√°rio deve ser o nome da coluna e o valor da chave deve ser os valores que dever√£o ser considerados nulos, pode ser uma str ou uma lista de str.

In [24]:
df = pd.read_csv(
    
    filepath_or_buffer='data-base/teste1.csv', 
    na_values= {'idade' : '18',
                'comida favorita' : ['pizza', 'sorvete']}
)

df

             nome  idade comida favorita
0     huan barros    NaN     muita coisa
1  jo√£o polinario   15.0             NaN
2    ana barretos    NaN         lasanha
3    marcos silva   13.0             NaN

Tamb√©m √© possivel definir quais valores devem ser considerados nulos sem filtrar pela coluna, ou seja, n√£o importa a coluna que o valor estiver ele ser√° considerado como nulo. Basta passar ao par√¢metro uma str ou uma lista de str, com os valores que dever√£o ser considerados nulos.

In [25]:
df = pd.read_csv(
    
    filepath_or_buffer='data-base/teste1.csv', 
    na_values= ['18', 'sorvete']
)

df

             nome  idade comida favorita
0     huan barros    NaN     muita coisa
1  jo√£o polinario   15.0           pizza
2    ana barretos    NaN         lasanha
3    marcos silva   13.0             NaN


### skip_blank_lines : bool, padr√£o True

Se o valor passado ao par√¢metro for True, as linhas em branco ser√£o puldas em vez de interpretadas como valores NaN.

In [26]:
# sem desconsiderar as linhas brancas
df = pd.read_csv(
    
    filepath_or_buffer='data-base/teste4.csv', 
    skip_blank_lines=False
)

df

             nome  idade comida favorita
0             NaN    NaN             NaN
1     huan barros   18.0     muita coisa
2  jo√£o polinario   15.0           pizza
3    ana barretos   17.0         lasanha
4    marcos silva   13.0         sorvete

In [ ]:
# desconsiderando as linhas brancas
df = pd.read_csv(
    
    filepath_or_buffer='Data base/teste4.csv', 
    skip_blank_lines=True
)

df


## Dicas

- Antes de carregar o arquivo CSV em um quadro de dados do pandas, sempre d√™ uma olhada no arquivo. Ele o ajudar√° a estimar quais colunas voc√™ deve importar e determinar quais tipos de dados suas colunas devem ter.


- Voc√™ tamb√©m deve procurar a contagem total de linhas do conjunto de dados. Um sistema com 4 GB de RAM pode n√£o consegue carregar 7 a 8 milh√µes de linhas.

## üëæ <font size=5>Visualisando um dataframe<font>

Neste t√≥pico iremos aprender algumas formas de visualisar um dataframe. A baixo segue alguns m√©todos que iremos estudar.

- print(df)
- display(df)
- DataFrame.head( )
- DataFrame.tail( )

### üê• print( )

Uma das maneiras mais simples de ver um dataframe. Por ser t√£o simples n√£o √© reconmend√°vel ustiliz√°-lo, estou apresentando ele apenas para dizer que √© possivel.

In [27]:
df = pd.read_csv(filepath_or_buffer='data-base/teste1.csv')

print(df) # Apenas coloque o nome do dataframe dentro da fun√ß√£o

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

### üê• display( )

A fun√ß√£o display pode-se dizer que √© um print( ) melhorado. Essa fun√ß√£o mostra o dataframe em um formato de tabela beem agr√°davel.

In [28]:
df = pd.read_csv(filepath_or_buffer='data-base/teste1.csv')

display(df)

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

### üê• DataFrame.head( )

O metodo head( ) serve para visualizas as n primeiras linhas de um dataframe.


### Parametros

Esse m√©todo recebe apenas 1 par√¢metro, veja.


### n : int

Esse par√¢metro serve para definir a quantidade de linhas que voc√™ deseja visualisar. Veja o exemplo abaixo.

In [29]:
df = pd.read_csv(filepath_or_buffer='data-base/teste1.csv')

# todo o dataframe
display(df)

# apenas as 2 primeiras linhas
display(df.head(n=2))

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza

### üê• DataFrame.tail( )

Esse par√¢metro √© o contr√°rio do head(), basicamente ele serve para ver as ultimas n linhas de um dataframe.


### Parametros

Esse m√©todo recebe apenas 1 par√¢metro, veja.


### n : int

Esse par√¢metro serve para definir a quantidade de linhas que voc√™ deseja visualisar. Veja o exemplo abaixo.

In [30]:
df = pd.read_csv(filepath_or_buffer='data-base/teste1.csv')

# todo o dataframe
display(df)

# apenas as 2 ultimas linhas
display(df.tail(n=2))

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  jo√£o polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

           nome  idade comida favorita
2  ana barretos     18         lasanha
3  marcos silva     13         sorvete

## üëæ <font size=5>Indexa√ß√£o basica<font>

- Selecionar linha (s)
- Selecionar coluna (s)
- Selecionar linha (s) e selecionar coluna (s) espec√≠fica (s)
- Selecionar 1 valor em especifico

## üëæ <font size=5>Indexa√ß√£o booleana<font>

- Selecionar linha (s) usando condi√ß√µes

## üëæ <font size=5>Indexa√ß√£o utilizando m√©todos<font>

- DataFrame.select_dtype( )
- DataFrame.loc 
- DataFrame.iloc

## üëæ <font size=5>Coletando informa√ß√µes sobre o DataFrame<font>

Nesse t√≥pico eu pretendo mostrar algumas formar de coletar informa√ß√µes de um DataFrame. Informa√ß√µes essas, que ser√£o importante para entender melhor os seus dados. Segue a baixo alguns m√©todos e atributos que usaremos.

- DataFrame.dtypes
- DataFrame.columns
- DataFrame.index
- DataFrame.shape
- DataFrame.max( )
- DataFrame.min( )
- DataFrame.mean( )
- DataFrame.median( )
- DataFrame.std( )
- DataFrame.describe( )
- DataFrame.unique( ) e nunique( )
- DataFrame.count( )
- DataFrame.value_counts( )
- DataFrame.sample( )
- pd.crosstab( )

## üëæ <font size=5>Exportando arquivos ou base de dados<font>

###  üê• DataFrame.to_csv( )

## üëæ <font size=5>Resumo do que voc√™ precisa aprender sobre um DataFrame<font>


### Adicionar colunas em um DataFrame 

- Com DataFrame.loc e sem ele 

### Adicionar linhas ou juntar DataFrames

- pd.concat( )

### Excluir linhas e/ou colunas de um DataFrame

- DataFrame.drop( )

### Trabalhar com valores ausentes

- DataFrame.isnull( )
- DataFrame.notnull( )
- DataFrame.dropna( )
- DataFrame.fillna( )
- DataFrame.ffill()

### Outras opera√ßo·∫Ωs 

- DataFrame.apply( )
- DataFrame.merge( )
- DataFrame.map( )
- DataFrame.astype( )
- DataFrame.sort_values( )
- DataFrame.groupby( )
- DataFrame.T (transposta)
- DataFrame.pivot( )
- DataFrame.replace( )

### Criar gr√°ficos

- DataFrame.plot( )
- DataFrame.plot.box( )
- DataFrame.plot.hist( ) e muito mais