In [104]:
import pandas as pd

In [122]:
df = pd.read_csv(
    filepath_or_buffer='Data base/teste1.csv',
    
)

display(df)


df['nome'].replace('huan barros', '1')

             nome  idade comida favorita
0     huan barros     18     muita coisa
1  joão polinario     15           pizza
2    ana barretos     18         lasanha
3    marcos silva     13         sorvete

0                 1
1    joão polinario
2      ana barretos
3      marcos silva
Name: nome, dtype: object