# <font color=red>1. Como importar pandas e verificar a versão?<font>

In [1]:
import pandas as pd

#  <font color=red>2. Como criar uma série a partir de uma lista, array numpy e dict?<font>

Crie uma série de pandas de cada um dos itens abaixo: uma lista, numpy e um dicionário. Entrada:

lista = list('abcedfghijklmnopqrstuvwxyz')<br>
ndarray = np.arange(26)<br>
dicionario = dict(zip(lista, ndarray))<br>

In [7]:
lista = list('abcedfghijklmnopqrstuvwxyz')
ndarray = np.arange(26)
dicionario = dict(zip(ndarray, lista))

s1 = pd.Series(lista)
print(s1, '\n\n')

s2 = pd.Series(ndarray)
print(s2, '\n\n')

s3 = pd.Series(dicionario)
print(s3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object


0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64


0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

# <font color=red> 3. Como converter o índice de uma série em uma coluna de um dataframe?<font>

Converta a série x em um dataframe com seu índice como outra coluna no dataframe.

lista = list('abcedfghijklmnopqrstuvwxyz')<br>
ndarray = np.arange(26)<br>
dicionario = dict(zip(lista, ndarray))<br>
x = pd.Series(dicionario)<br>

In [16]:
lista = list('abcedfghijklmnopqrstuvwxyz')
ndarray = np.arange(26)
dicionario = dict(zip(lista, ndarray))
x = pd.Series(dicionario)

df = x.to_frame('coluna').reset_index()
df.reset_index()

    level_0 index  coluna
0         0     a       0
1         1     b       1
2         2     c       2
3         3     e       3
4         4     d       4
5         5     f       5
6         6     g       6
7         7     h       7
8         8     i       8
9         9     j       9
10       10     k      10
11       11     l      11
12       12     m      12
13       13     n      13
14       14     o      14
15       15     p      15
16       16     q      16
17       17     r      17
18       18     s      18
19       19     t      19
20       20     u      20
21       21     v      21
22       22     w      22
23       23     x      23
24       24     y      24
25       25     z      25

 <font color=orange> <font>

 <font color=orange> <font>

 <font color=orange> <font>

 <font color=orange> <font>